.porfolio {
  width: auto;
}

.portfolio__header {
  width: auto;
  background-image: url("../../img/plants-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 104px;
}

.portfolio__header-text {
  font-family: "M PLUS Rounded 1c", "Arial", sans-serif;
  font-size: 40px;
  letter-spacing: 10px;
  font-weight: 400;
  line-height: normal;
  color: $bgr-color;
  padding-top: 60px;
  padding-bottom: 43px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.portfolio__link-down {
  display: inline-block;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $accent-light;
  margin-bottom: 50px;
  position: relative;
  scroll-behavior: smooth;
  opacity: 0.7;
}

.portfolio__link-down:hover {
  opacity: 1;
}

.portfolio__link-down::after {
  position: absolute;
  content: "";
  width: 44px;
  height: 44px;
  background-image: url("../img/down-arrow.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  margin-top: 2px;
  z-index: 2;
}

.portfolio__list {
  @include list-norm;
  display: flex;
  flex-wrap: wrap;
  width: 73%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: space-between;
}

@media (max-width: $tablet) {
  .portfolio__list {
    width: 90%;
  }

  @media (max-width: 375px) {
    .portfolio__header-text {
      font-size: 30px;
    }
  }
}
