.project-item {
  width: 30.7%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 40px;
  position: relative;
  padding: 10px;
}

// .project-item::after {
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   background-color: $accent-dark;
//   top: 0;
//   left: 0;
//   opacity: 0.7;
// }
//
// .project-item:hover::after {
//   transform: rotateY(90deg);
//   transition: 400ms;
// }

.project-item__img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.project-item__text {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  justify-content: space-between;
  padding-bottom: 30px;
}

.project-item__link--title {
  @include title-text;
  text-align: center;
}

.project-item__link--title::after {
  display: none;
}

.project-item__descr {
  @include basic-text;
  margin: 0;
  margin-top: auto;
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid $accent-light;
}

@media (max-width: 1024px) {
  .project-item {
    width: 45%;
  }
}

@media (max-width: $tablet) {
  .project-item {
    width: 100%;
  }
}
