.skills {
  width: 73%;
  box-sizing: border-box;
  margin: 0 auto;
}

.skills__title {
  @include title-text;
  padding-top: 102px;
  padding-bottom: 125px;
}

.skills__list {
  @include list-norm;
  padding-bottom: 122px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.skills__item {
  position: relative;
  width: 29%;
  padding: 200px 15px 0 15px;
}

.skills__item::before {
  content: "";
  position: absolute;
  width: 151px;
  height: 151px;
  background-color: $accent-light;
  border-radius: 50%;
  top: 0;
  left: 50%;
  margin-left: -72px;
}

@media (max-width: 1024px) {
  .skills__list {
    flex-direction: column;
  }

  .skills__item {
    width: 100%;
    padding: 200px 0 50px 0;
  }
}
