$bgr-color: #ffffff;
$bgr-dark: #f3f5f8;
$text-color: #8c9398;
$text-dark: #353535;
$text-light: #a1a9b0;
$accent-light: #3dc9b3;
$accent-dark: #309383;

$mobile: 320px;
$tablet: 768px;
$desktop: 1150px;
